body {
    margin: 0;
    background-color: #000;
	color: #ffffff;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.header {
    overflow: hidden;
    background-color: #020a02;
    font-family: sans-serif;
}

.header a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}

.header i {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}

.slogan i {
    pointer-events: none;
}

.header a.logo {
    font-size: 25px;
    color: #fdf301;
}

.header a.active {
    color: #ffffff;
}

.header a:hover {
    background-color: #fdf301;
    color: #020a02;
}

.header-right {
    float: right;
}

.subheader {
    overflow: hidden;
    background-color: #fdf301;
    font-family: sans-serif;
}
.subheader a {
    float: left;
    color: #020a02;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 13px;
    line-height: 7px;
}

.subheader a:hover {
    background-color: #e6e600;
}

a.active {
  background-color: #e6e600;
  color: #020a02;
}


.main h1.h1-text{
    color: #ffffff; 
	font-weight: 900;
}

.main p.news-title{
	color: #ffffff;
	font-weight: bold;
	font-size: 25px;
}

.main p.news-main{
	color: #ffffff;
}

p.news-title::before {
    content: "# ";
}

/* .contact-img { */
/* 	margin-top: 10px; */
/*   display: block; */
/*   margin-left: auto; */
/*   margin-right: auto; */
/* } */

.links-info a{
	color: #ffffff;
		text-decoration: none;
}

code {
	background-color: #e6e600;
	color: #000;
	padding: 5px;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}
